automation-template.json
{
    "name": "VAPI Cold Caller Bot",
    "flow": [
        {
            "id": 4,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": "YOUR_GOOGLE_CONNECTION_ID"
            },
            "mapper": {
                "from": "drive",
                "limit": "10",
                "sheetId": "Sheet1",
                "sortOrder": "asc",
                "spreadsheetId": "YOUR_SPREADSHEET_ID",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet1"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "YOUR_SHEET_NAME"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Your Google connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": ["drive", "share"]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": ["FORMATTED_VALUE", "UNFORMATTED_VALUE", "FORMULA"]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": ["SERIAL_NUMBER", "FORMATTED_STRING"]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [true, false]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": ["asc", "desc"]
                        }
                    }
                ],
                "interface": [
                    { "name": "__IMTLENGTH__", "type": "uinteger", "label": "Total number of bundles" },
                    { "name": "__IMTINDEX__", "type": "uinteger", "label": "Bundle order position" },
                    { "name": "__ROW_NUMBER__", "type": "number", "label": "Row number" },
                    { "name": "__SPREADSHEET_ID__", "type": "text", "label": "Spreadsheet ID" },
                    { "name": "__SHEET__", "type": "text", "label": "Sheet" },
                    { "name": "0", "type": "text", "label": "Name (A)" },
                    { "name": "1", "type": "text", "label": "Phone number (B)" },
                    { "name": "2", "type": "text", "label": "Industry (C)" },
                    { "name": "3", "type": "text", "label": "Called (D)" }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4
            },
            "mapper": {
                "0": "{{4.`0`}}",
                "3": "{{4.`3`}}",
                "__IMTINDEX__": "{{4.`__IMTINDEX__`}}",
                "__IMTLENGTH__": "{{4.`__IMTLENGTH__`}}",
                "__ROW_NUMBER__": "{{4.`__ROW_NUMBER__`}}"
            },
            "metadata": {
                "designer": { "x": 300, "y": 0 },
                "restore": {
                    "extra": {
                        "feeder": { "label": "Google Sheets - Search Rows [4]" },
                        "target": { "label": "Custom" }
                    }
                }
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{5.array}}"
            },
            "metadata": {
                "designer": { "x": 600, "y": 0 },
                "restore": {
                    "expect": { "array": { "mode": "edit" } }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "API Key",
                        "value": "YOUR_VAPI_API_KEY"
                    },
                    {
                        "name": "Assistant ID",
                        "value": "YOUR_VAPI_ASSISTANT_ID"
                    }
                ]
            },
            "metadata": {
                "designer": { "x": 900, "y": 0, "name": "Keys" },
                "restore": {
                    "expect": {
                        "scope": { "label": "One cycle" },
                        "variables": { "items": [null, null] }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            { "name": "name", "type": "text", "label": "Variable name", "required": true },
                            { "name": "value", "type": "any", "label": "Variable value" }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": { "enum": ["roundtrip", "execution"] }
                    }
                ],
                "interface": [
                    { "name": "API Key", "type": "any", "label": "API Key" },
                    { "name": "Assistant ID", "type": "any", "label": "Assistant ID" }
                ]
            }
        },
        {
            "id": 16,
            "module": "vapi:createOutboundPhoneCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": "YOUR_VAPI_CONNECTION_ID"
            },
            "mapper": {
                "assistantId": "{{22.`Assistant ID`}}",
                "phoneNumberId": "YOUR_VAPI_PHONE_NUMBER_ID",
                "customerNumber": "{{6.`3`}}"
            },
            "metadata": {
                "designer": { "x": 1200, "y": 0 },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": { "scoped": "true", "connection": "vapi" },
                            "label": "Your Vapi connection"
                        }
                    }
                },
                "parameters": [
                    { "name": "__IMTCONN__", "type": "account:vapi", "label": "Connection", "required": true }
                ],
                "expect": [
                    { "name": "assistantId", "type": "text", "label": "Assistant ID", "required": true },
                    { "name": "customerNumber", "type": "text", "label": "Customer Phone Number", "required": true },
                    { "name": "phoneNumberId", "type": "text", "label": "Phone Number ID", "required": true }
                ]
            }
        },
        {
            "id": 17,
            "module": "google-sheets:updateCell",
            "version": 2,
            "parameters": {
                "__IMTCONN__": "YOUR_GOOGLE_CONNECTION_ID"
            },
            "mapper": {
                "cell": "E2",
                "from": "drive",
                "value": "Yes",
                "select": "list",
                "sheetId": "Sheet1",
                "spreadsheetId": "YOUR_SPREADSHEET_ID",
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": { "x": 1500, "y": 0 },
                "restore": {
                    "expect": {
                        "from": { "label": "My Drive" },
                        "select": { "label": "Search by path" },
                        "sheetId": { "label": "Sheet1" },
                        "spreadsheetId": { "path": ["YOUR_SHEET_NAME"] },
                        "valueInputOption": { "mode": "chose", "label": "User entered" }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": { "scoped": "true", "connection": "google" },
                            "label": "Your Google connection"
                        }
                    }
                },
                "parameters": [
                    { "name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true }
                ],
                "expect": [
                    { "name": "select", "type": "select", "label": "Search Method", "required": true },
                    { "name": "cell", "type": "text", "label": "Cell", "required": true },
                    { "name": "value", "type": "text", "label": "Value" },
                    { "name": "valueInputOption", "type": "select", "label": "Value input option" },
                    { "name": "from", "type": "select", "label": "Drive", "required": true },
                    { "name": "spreadsheetId", "type": "file", "label": "Spreadsheet ID", "required": true },
                    { "name": "sheetId", "type": "select", "label": "Sheet Name", "required": true }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": { "orphans": [] },
        "zone": "eu2.make.com",
        "notes": []
    }
}
